/*variables */

/* reset */

body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-size: 12px;
    max-width: 2000px;
}
/* basic */
.btn{
    cursor: pointer;
    background: none;
    border: none;
}
.underscore{
    opacity: 0;
}
/* grid */
.gird-top-bar{
    display: grid;
    grid-template-columns: repeat(20,1fr);
    max-width: 1200px;
    width: 100%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    max-width: 1200px;
    width: 100%;
}

/* mobile style*/
/* top of the search bar */

.top-bar{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 9999;
}
.search-bar{
    display:block;
    padding: 14px 24px 0 24px;
    border-bottom: 1px solid #b6b3b3;
}
button.search-button, button.filter-icon-wrapper{
    background: none;
    border: none;
}

.search-bar-part-1{
    display: flex;
    padding: 5px 0;
    border: 1px solid #c4c4c4;
    border-radius: 50px;
    /* width: 400px; */

}

.search-button{
    display: flex;
    flex-grow: 2;
}


.search-bar-middle{
    margin-left: 10px;
}
.where-to{
    display: flex;
    justify-content: flex-start;
}
.three-option{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    opacity: 0.6;
}
.dot::before{
    content:".";
    padding: 0 2px;
}

.three-option .first-option, .three-option .second-option, .three-option .third-option{
    flex-grow: 1;
}
.search-icon{
    margin: 10px 0;
    padding-left: 10px;
}
.search-icon img{
    display: block;
    height: 16px;
    width: 16px;
    box-sizing: border-box;
}
.filter-icon img{
    display: block;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    border: 2px solid #635e5e;
    border-radius: 50px;
}


/* second section of the top */


.search-bar-part-2 img{
    height: 100%;
    width: 24px;
}
.search-2-wrapper{
    padding: 10px 10px 0px 10px;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 16px;  
    overflow-x: scroll;
}
.search-2-wrapper::-webkit-scrollbar{
    display: none;
}
.search-2-wrapper .btn{
   
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start;
    width: 100%;
    max-width: 90px;
    margin-bottom: 20px;
   
}
.top-bar-part-2-flex-wrap-1, .top-bar-part-2-flex-wrap-2{
    flex-grow:1;
}

.top-bar-button-wrapper:hover{
    border-bottom: 1px solid #887f7f;
}



/* content continer */

.content-wrapper{
    /* display: flex;
    flex-wrap: wrap; */
    margin: 10px;
    width: 95%;
    padding: 0px 5%;
    box-sizing: border-box;
    gap: 30px;
}
.card-container{
    grid-column: span 12;  
    
}
.img-container-wrapper-1{
    overflow: hidden; 
    border-radius: 20px; 
    height: 50%;
}
.img-container-wrapper{
    position: relative;
    display: flex;
    width: 500%;
    height: 100%;
    
}
.img-container{
   width: 100%;
   height: 100%;
   border-radius: 20px;
}
.card-container .img-container img{
   
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}





.description-container{
    margin-top: 10px;
    row-gap: 10px;

}
.description-container .title{
    grid-column: span 6;
    font-size: 1.2em;
}
.description-container .rating{
    grid-column: 7/13;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
    font-size: 1.2em;
    /* padding-right: 10px; */
}
.description-container .distance{
    grid-column: 1/6;
    grid-row: 2/3;
    font-size: 1.2em;
    opacity: 0.7;
}
.description-container .date{
    grid-column: 1/6;
    grid-row: 3/4;
    font-size: 1.2em;
    opacity: 0.7;
}
.description-container .cash{
    grid-column: 1/6;
    grid-row: 4/5;
    font-size: 1.2em;
}

/* footer */
footer{
    border-top: 1px solid #f58888;
    background-color: #f7f5f5;
    font-size: 1.3em;
    
}
.footer-wrapper{
    padding: 0px 30px;
}
.footer-wrapper-1{
    padding:30px 0;
}
.footer-wrapper-1 h3{
    margin: 0;
}
.footer-wrapper-1 ul li a{
    text-decoration: none;
    color: #1f1e1f;
}
.footer-wrapper-1 ul li a:hover{
    text-decoration: underline black;
}
.footer-wrapper-1 section{
    border-bottom: 1px solid #c2b8b8;
    padding-bottom: 24px;
    margin-bottom: 24px;
}
.support-items, .community-items, .hosting-items, .airbnb-items {
    margin-top:10px;
}
/* bottom footer */
section.bottom-footer, button.choose-currency, .bottom-footer button.first-line-wrapper-1{
    display: flex;
}

button.first-line-wrapper-1{
    margin-right: 24px;
}


button.first-line-wrapper-1 .img-language, button.choose-currency .currncy-icon{
    margin-right: 10px;
}

button.first-line-wrapper-1 .img-language img{
    height: 1.7em;
}

button.first-line-wrapper-1 .language, button.choose-currency{
    align-self: center;
    font-weight: 600;
}
button.choose-currency{
    margin-top: 6px;
}

section.bottom-footer{
    border-bottom: none;
    margin: 0;
}

.copyright{
    font-size: 1.1em;
}
.terms-conditions a{
    text-decoration: none;
    color: #1f1e1f;
}
.terms-conditions a:hover{
    text-decoration: underline;
}

/* -------- media quries --------------*/

@media screen and (min-width: 550px) {

    .content-wrapper .card-container{
        grid-column: span 6;      
    }

}

@media screen and (min-width: 745px){
    
}